:root {
  --accent-color: #2196f3;
  --primary-black-color: #000000;
  --primary-white-color: #ffffff;
  --primary-text-color: #757575;
  --secondary-text-color: #212121;
  --inverse-light-text-color: rgba(255, 255, 255, 0.6);
  --lightest-gray-color: #f5f4fa;
  --gray-color: #afb1b8;
}

/* main styles */
body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.link {
  text-decoration: none;
  color: var(--primary-text-color);
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  /* outline: 2px solid tomato; */
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* buttons */
.button {
  padding: 10px 32px;
  min-width: 216px;
  border-width: 0;
  border-radius: 4px;
  cursor: pointer;

  font-family: inherit;
  color: var(--primary-white-color);
  text-align: center;
}

.button.primary {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  background-color: #2196f3;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}

.button.primary:active {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #188ce8;
}

/* header */
.header {
  /* padding-top: 24px;
  padding-bottom: 25px; */
  border-bottom: 1px solid #ececec;
}

.header-wrapper {
  display: flex;
  align-items: center;
}

/* logo */
.logo {
  margin-right: 93px;

  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.03em;
  text-decoration: none;

  color: var(--primary-black-color);
}
.logo .accent {
  color: var(--accent-color);
}

/* navigation */
.site-nav-wrapper {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.site-nav {
  display: flex;
  align-items: center;
  column-gap: 50px;
}

.site-nav-link {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}

.current.site-nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 4px;

  background: #2196f3;
  border-radius: 2px;
}

.site-nav .link {
  font-weight: 500;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.link.current {
  color: var(--accent-color);
}

/* contacts */

.header-contacts-wrapper {
  display: flex;
  gap: 30px;
  align-items: center;
}

.header-contacts-item {
  display: flex;
  gap: 10px;
  align-items: center;

  font-weight: 500;
  letter-spacing: 0.02em;
}

.contacts-link {
  display: flex;
  gap: 10px;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-link:hover,
.contacts-link:focus {
  color: var(--accent-color);
}

.header-contacts-icon {
  width: 16px;
  height: 16px;
  fill: currentColor;
}

/* hero */
.hero {
  margin-right: auto;
  margin-left: auto;
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  background: #c4c4c4;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero-bg.jpg);
  max-width: 1600px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-title {
  width: 696px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
  color: var(--primary-white-color);
}

/* <button type="button" class="button primary">Замовити послугу</button> */

/* sections */
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section .title {
  color: var(--secondary-text-color);
  font-size: 36px;
  letter-spacing: 0.03em;
  text-align: center;
}

/* benefits */

.benefits-list {
  display: flex;
  column-gap: 30px;
}

/* .benefits-item {
  background-color: teal;
} */

.benefits-pic {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  width: 270px;
  height: 120px;
  background-color: var(--lightest-gray-color);
  border-radius: 4px;
}

.benefits-icon {
  width: 70px;
  height: 70px;
}

.benefits-title {
  margin-bottom: 10px;

  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-text-color);
}

.benefits .content {
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* what we do */
.works {
  padding-top: 0;
}

.works .title {
  margin-bottom: 50px;
}

.works-list {
  display: flex;
  column-gap: 30px;
}

.works-thumb {
  position: relative;
  width: 370px;
  height: 294px;
  background: var(--gray-color);
}

.works-pic {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.works-label {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding-top: 27px;
  padding-bottom: 27px;

  background: rgba(47, 48, 58, 0.8);
  font-weight: 700;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  color: var(--primary-white-color);
}

/* our team */
.our-team {
  background: var(--lightest-gray-color);
}

.our-team .title {
  margin-bottom: 50px;
}

.team-list {
  display: flex;
  column-gap: 30px;
}

.team-item {
  border-radius: 0 0 4px 4px;
  width: 270px;

  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 1px 3px 0 rgba(0, 0, 0, 0.12);
  background: #fff;
}

.team-pic {
  display: block;
}

.team-item-content {
  padding: 30px 32px;
}

.our-team .subtitle {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--secondary-text-color);
}

.team-position {
  margin-bottom: 16px;

  font-size: 16px;
  letter-spacing: 0.03em;
  text-align: center;
}

.socials-list {
  display: flex;
  column-gap: 10px;
}

.socials-item {
  width: 44px;
  height: 44px;
}

.social-link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-white-color);
  border-radius: 50%;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover,
.social-link:focus {
  background-color: var(--accent-color);
}

.social-link-icon {
  width: 20px;
  height: 20px;
  fill: var(--gray-color);

  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover .social-link-icon {
  fill: var(--primary-white-color);
}

.social-link:focus .social-link-icon {
  fill: var(--primary-white-color);
}

/* clients */

.clients .title {
  margin-bottom: 50px;
}

.clients-list {
  display: flex;
  column-gap: 30px;
}

.clients-item {
  width: 170px;
  height: 92px;
}

.clients-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: #afb1b8;
  border: 1px solid #afb1b8;
  border-radius: 4px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-link:hover,
.clients-link:focus {
  color: var(--accent-color);
  border-color: var(--accent-color);
}

.clients-icon {
  width: 106px;
  height: 60px;
  fill: currentColor;
}

/* footer */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background: #2f303a;
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.footer-nav {
  margin-right: 70px;
}

.footer .logo {
  display: block;
  margin-bottom: 20px;

  color: var(--primary-white-color);
}

.address {
  line-height: 1.71;
  font-style: normal;
  letter-spacing: 0.03em;
}

.address .link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address .link:hover,
.address .link:focus {
  color: var(--accent-color);
}

.address-item {
  display: block;
  margin-bottom: 9px;
}

.address-item:last-child {
  margin-bottom: 0;
}

.address-map {
  color: var(--primary-white-color);
}

.address-link {
  letter-spacing: 0.03em;
  color: var(--inverse-light-text-color);
}

/* follow list */
.follow-container {
  margin-top: 12px;
}

.follow-title {
  margin-bottom: 20px;

  font-weight: 700;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

.footer-follow-list {
  display: flex;
  column-gap: 10px;
}

.follow-item {
  width: 44px;
  height: 44px;
}

.footer-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  color: var(--primary-white-color);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.footer-link:hover,
.footer-link:focus {
  background-color: var(--accent-color);
}

/* modal styles */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  visibility: none;
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.1);
}

.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  padding: 8px;

  width: 528px;
  height: 581px;

  border-radius: 4px;
  background: var(--primary-white-color);
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 1px 3px 0 rgba(0, 0, 0, 0.12);

  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-close {
  margin-left: auto;
  width: 30px;
  height: 30px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 50%;
  stroke-width: 10px;
  background-color: var(--primary-white-color);
  border-color: rgba(0, 0, 0, 0.1);
}

.modal-close-icon {
  fill: var(--primary-black-color);
}

/* .btn-close {
  position: absolute;
  right: 8px;
  top: 8px;

  width: 30px;
  height: 30px;

  cursor: pointer;
  border-radius: 50%;
  stroke-width: 10px;
  border-color: rgba(0, 0, 0, 0.1);
  background-color: var(--primary-white-color);
  background-image: url(../images/close-black.svg);
  background-repeat: no-repeat;
  background-position: center;
} */

/* portfolio page styles */

.portfolio {
  padding-bottom: 94px;
  padding-top: 94px;
}

.button-list {
  display: flex;
  gap: 8px;
  justify-content: center;
  margin-bottom: 50px;
}

.portfolio-button {
  padding: 6px 22px;
  min-width: 73px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  background-color: var(--lightest-gray-color);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-button:hover,
.portfolio-button:focus {
  background-color: var(--accent-color);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.08),
    0 3px 1px 0 rgba(0, 0, 0, 0.1);
  color: var(--primary-white-color);
}

.portfolio-button.accent {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
}

.cards-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.cards-link {
  display: block;

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.cards-link:hover,
.cards-link:focus {
  box-shadow: 1px 4px 6px 0 rgba(0, 0, 0, 0.16), 0 4px 4px 0 rgba(0, 0, 0, 0.06),
    0 1px 1px 0 rgba(0, 0, 0, 0.12);
}

.cards-thumb {
  position: relative;
  overflow: hidden;

  width: 370px;
  height: 294px;
}

.hover-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;

  display: flex;
  align-items: center;
  padding: 24px 24px;

  background: rgba(33, 150, 243, 0.9);

  transform: translatey(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.cards-link:hover .hover-overlay {
  transform: translatey(0);
}

.overlay-content {
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
}

.carts-pic {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cards-content {
  border: 1px solid #eee;
  border-top: 0;
  padding: 20px 24px;
}

.portfolio-title {
  margin-bottom: 4px;

  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--secondary-text-color);
}

.portfolio-subtitle {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}
